fastapi==0.116.1
uvicorn==0.35.0
pillow==11.3.0
python-multipart==0.0.20
deep-translator==1.11.4
arabic-reshaper==3.0.0
python-bidi==0.6.6
pdf2image==1.17.0
opencv-python==4.11.0.86
numpy==2.3.1
rarfile==4.2
pyunpack==0.3
patool==4.0.1
pydantic==2.11.7
starlette==0.47.1
typing-extensions==4.14.1
click==8.2.1
h11==0.16.0
fastapi
python-multipart
uvicorn
